/* About */

$transition-speed: 0.2s;
$light-heading-color: #181818;
$light-text-color: #181818;
$light-background-color: #f0f0f0;
$dark-heading-color: #79c0ff;
$dark-text-color: #fff;
$dark-background-color: #161b22;
$max-width: 600px;
$width: 90%;

.about {
    min-height: 100vh;
    padding: 5em 2em;
    display: grid;
    place-content: center;
    overflow: hidden;
  
    .about-items {
      opacity: 0;
      transition: opacity 2s ease, transform 1.5s ease;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;

  
      h2 {
        color: $light-heading-color;
        font-size: 2rem;
        text-align: center;
      }

      .about-profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        filter: grayscale(1);
        margin: auto;
    }
  
      .about-paragraph {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        p {
          line-height: 1.6;
        }
      }
    } /* .about-items */
  
    .about-items.visible {
      transform: translateY(0);
      opacity: 1;
    } /* .about-items.visible */
  
    @media (min-width: 768px) {
      .about {
         width: 100%;
      }
  
      .about-paragraph {
        max-width: $max-width;
        width: $width;
        margin: auto;
      }
    }
  } /* .about */
  
  #light-theme {
    .about {
      background: $light-background-color;
  
      h2 {
        color: $light-heading-color;
      }
  
      p {
        color: $light-text-color;
      }
    }
  } /* #light-theme */
  
  #dark-theme {
    .about {
      background: $dark-background-color;
  
      h2 {
        color: $dark-heading-color;
      }
  
      p {
        color: $dark-text-color;
      }
    }
  } /* #dark-theme */