/* About */

$transition-speed: 0.2s;
$light-heading-color: #333333;
$light-text-color: #444444;
$light-background-color: #fff;
$dark-heading-color: #79c0ff;
$dark-text-color: #fff;
$dark-background-color: #161b22;
$max-width: 600px;
$width: 90%;

.about {
    min-height: 100vh;
    padding: 3em 2em;
    display: grid;
    place-content: center;
    transition: background $transition-speed ease;
    overflow: hidden;
  
    .about-items {
      opacity: 0;
      transition: opacity 2s ease, transform 1.5s ease;
      transform: translateX(-50%);
      display: grid;
      gap: 15px;
      place-content: center;
  
      h2 {
        color: $light-heading-color;
        font-size: 2rem;
        text-align: center;
      }
  
      .about-paragraph {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
      }
    } /* .about-items */
  
    .about-items.visible {
      transform: translateY(0);
      opacity: 1;
    } /* .about-items.visible */
  
    @media (min-width: 768px) {
      .about {
        width: 100%;
      }
  
      .about-paragraph {
        max-width: $max-width;
        width: $width;
        margin: auto;
      }
    }
  } /* .about */
  
  #light-theme {
    .about {
      background: $light-background-color;
  
      h2 {
        color: $light-heading-color;
        transition: all $transition-speed;
      }
  
      p {
        color: $light-text-color;
        transition: all $transition-speed;
      }
    }
  
    transition: all $transition-speed;
  } /* #light-theme */
  
  #dark-theme {
    .about {
      background: $dark-background-color;
  
      h2 {
        color: $dark-heading-color;
        transition: all $transition-speed;
      }
  
      p {
        color: $dark-text-color;
        transition: all $transition-speed;
      }
    }
  
    transition: all $transition-speed;
  } /* #dark-theme */