$primary-color: #333333;
$secondary-color: #79c0ff;
$background-color-dark: #161b22;
$background-color-light: #fff;
$text-color-dark: #f8f8f8;
$text-color-light: #181818;
$text-color-secondary-light: #999999;
$text-color-secondary-dark: #79c0ff;



/* Hero Section */
.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;

    h1 {
        margin: 0;
        font-size: 3.5rem;

        @media (min-width: 768px) {
            font-size: 7rem;
        }
    } // h1

    .hero-subheading {
        margin-top: 1em;
        font-size: 1.3rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        animation: slideIn 5s ease-in-out infinite;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 1.7rem;
        }

    } // p


    .scroll-down-box {
        position: absolute;
        bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

     

        ion-icon {
            font-size: 2rem;
            animation: moveUpDown 1s infinite;
            color: #181818;
        }

    }

} // hero

#dark-theme {

    .hero {
        background: linear-gradient(135deg, rgba(24, 28, 36, 0.96) 16.66%, transparent 0 83.33%, rgba(24, 28, 36, 0.96) 0), conic-gradient(from 45deg at 66.66% 33.33%, #161b22 135deg, rgba(22,27,34,0.75) 0% 225deg, rgba(22,27,34,0.5) 0%);
        background-size: 130px 130px;
        background-color: rgba(24, 28, 36, 0.96);



        h1 {
            color: $text-color-dark;

            .hero-heading-ben {
                border-bottom: 5px solid $secondary-color;
            } // hero-heading-ben
        }

        p {
            color: $secondary-color;
        }

        .scroll-down-box {

            p {
                color: $text-color-dark;
            }
            
            ion-icon {
                color: $text-color-dark;
            }
        }


       

        

    }

}

#light-theme {

    .hero {
        background: linear-gradient(135deg, #ffffff 16.66%, transparent 0 83.33%, #ffffff 0), conic-gradient(from 45deg at 66.66% 33.33%, #f0f0f0 135deg, rgba(240, 240, 240, 0.75) 0% 225deg, rgba(240, 240, 240, 0.5) 0%);
        background-size: 130px 130px;
        background-color: #ffffff;
        
        
        
        

        h1 {
            color: $text-color-light;

            .hero-heading-ben {
                border-bottom: 5px solid $text-color-secondary-light;
            } // hero-heading-ben
        }

        .hero-subheading {
            color: $text-color-secondary-light;
        }
        

        p {
            color: $text-color-light;
        }

    }

}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
