$primary-color: #333333;
$secondary-color: #79c0ff;
$background-color-dark: #16202A;
$background-color-light: #fff;
$text-color-dark: #f8f8f8;
$text-color-light: #333333;
$text-color-secondary-light: #8A7350;
$text-color-secondary-dark: #79c0ff;



/* Hero Section */
.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    transition: all 0.2s ease;

    h1 {
        margin: 0;
        font-size: 3.5rem;
        transition: all 0.2s;

        @media (min-width: 768px) {
            font-size: 5rem;
        }
    } // h1

    p {
        margin-top: 1em;
        font-size: 1.3em;
        letter-spacing: 2px;
        text-transform: uppercase;
        animation: slideIn 5s ease-in-out infinite;
        text-align: center;
    } // p

    .hero-profile-img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        filter: grayscale(0.5);
    }

} // hero

#dark-theme {

    .hero {

        background: $background-color-dark;

        h1 {
            color: $text-color-dark;

            .hero-heading-ben {
                border-bottom: 5px solid $secondary-color;
            } // hero-heading-ben
        }

        p {
            color: $secondary-color;
        }

    }

}

#light-theme {

    .hero {
        background: $background-color-light;

        h1 {
            color: $text-color-light;

            .hero-heading-ben {
                border-bottom: 5px solid $text-color-secondary-light;
            } // hero-heading-ben
        }

        p {
            color: $text-color-light;
        }

    }

}
