.large-nav {
    display: none;
  }
  
  @media (min-width: 768px) {
    .large-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: none;
      z-index: 9999;
      transition: transform 0.2s ease;
  
      &.hidden {
        transform: translateY(-100%);
      }
  
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        gap: 15px;
        padding: 1em 0;
  
        li {
          cursor: pointer;
          font-size: 0.9em;
          border: none;
          padding-bottom: 0.3em;
          padding-top: 5px;
          border-bottom: 5px solid transparent;
  
          &:hover {
            border-bottom: 5px solid currentColor;
          }
        }
      }
    }
  
    #dark-theme {
      .large-nav {
        // background: #12171d;
        // background-color: #161b22;
        // opacity: 1;
        // background: radial-gradient(circle, transparent 20%, #161b22 20%, #161b22 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #161b22 20%, #161b22 80%, transparent 80%, transparent) 22.5px 22.5px, linear-gradient(#1a1f24 1.8px, transparent 1.8px) 0 -0.9px, linear-gradient(90deg, #1a1f24 1.8px, #161b22 1.8px) -0.9px 0;
        // background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;

        &.scrolled {
          background-color: #181818;
      }

  
        ul {
          li {
            color: #f8f8f8;
  
            &:hover {
              color: #79c0ff;
            }
          }
        }
      }
    }
  
    #light-theme {
      .large-nav {
        // background-color: #fff;

        &.scrolled {
          background-color: #fff;
      }
  
        ul {
          li {
            color: #181818;
  
            &:hover {
              border-bottom: 5px solid #999999;
  
            }
          }
        }
      }
    }
  }

//   .large-nav.scrolled {
//     background-color: #fff;
//     transition: transform 0.2s, background 1s;
// }