.large-nav {
  display: none;
}

@media (min-width: 768px) {
  .large-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.2s ease;
  }
  .large-nav.hidden {
    transform: translateY(-100%);
  }
  .large-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 15px;
    padding: 1em 0;
  }
  .large-nav ul li {
    cursor: pointer;
    font-size: 0.9em;
    border: none;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    padding-bottom: 0.3em;
    padding-top: 5px;
    border-bottom: 5px solid transparent;
  }
  .large-nav ul li:hover {
    border-bottom: 5px solid currentColor;
  }
  #dark-theme .large-nav {
    background: #12171d;
  }
  #dark-theme .large-nav ul li {
    color: #f8f8f8;
  }
  #dark-theme .large-nav ul li:hover {
    color: #79c0ff;
  }
  #light-theme .large-nav {
    background-color: #ffffff;
  }
  #light-theme .large-nav ul li {
    color: #677483;
    transition: background 0.2s ease;
  }
  #light-theme .large-nav ul li:hover {
    color: #677483;
    border-bottom: 5px solid #677483;
  }
}
/* Hero Section */
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  transition: all 0.2s ease;
}
.hero h1 {
  margin: 0;
  font-size: 3.5rem;
  transition: all 0.2s;
}
.hero p {
  margin-top: 1em;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: slideIn 5s ease-in-out infinite;
  text-align: center;
}

#dark-theme .hero {
  background: #12171d;
}
#dark-theme .hero h1 {
  color: #f8f8f8;
}
#dark-theme .hero h1 .hero-heading-ben {
  border-bottom: 5px solid #79c0ff;
}
#dark-theme .hero p {
  color: #79c0ff;
}

#light-theme .hero {
  background: #fff;
}
#light-theme .hero h1 {
  color: #697384;
}
#light-theme .hero h1 .hero-heading-ben {
  border-bottom: 5px solid #677483;
}
#light-theme .hero p {
  color: #697384;
}

/* About */
.about {
  min-height: 100vh;
  padding: 3em 2em;
  display: grid;
  place-content: center;
  transition: background 0.2s ease;
  overflow: hidden;
  /* .about-items */
  /* .about-items.visible */
}
.about .about-items {
  opacity: 0;
  transition: opacity 2s ease, transform 1.5s ease;
  transform: translateX(-50%);
  display: grid;
  gap: 15px;
  place-content: center;
}
.about .about-items h2 {
  color: #79c0ff;
  font-size: 2rem;
  text-align: center;
}
.about .about-items .about-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.about .about-items.visible {
  transform: translateY(0);
  opacity: 1;
}
@media (min-width: 768px) {
  .about .about {
    width: 100%;
  }
  .about .about-paragraph {
    max-width: 600px;
    width: 90%;
    margin: auto;
  }
}

/* .about */
#light-theme {
  transition: all 0.2s;
}
#light-theme .about {
  background: #fff;
}
#light-theme .about h2 {
  color: #79c0ff;
  transition: all 0.2s;
}
#light-theme .about p {
  color: #444444;
  transition: all 0.2s;
}

/* #light-theme */
#dark-theme {
  transition: all 0.2s;
}
#dark-theme .about {
  background: #161b22;
}
#dark-theme .about h2 {
  color: #79c0ff;
  transition: all 0.2s;
}
#dark-theme .about p {
  color: #fff;
  transition: all 0.2s;
}

/* #dark-theme */
/* Projects */
.projects {
  padding: 4em 2em;
  transition: all 0.2s ease;
}
.projects h2 {
  font-size: 2rem;
  text-align: center;
}
.projects .projects-container {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  transition: opacity 2s ease, transform 1.5s ease;
  transform: translateY(100px);
  opacity: 0;
}
.projects .projects-container.visible {
  transform: translateY(0);
  opacity: 1;
}
.projects .projects-container .projects-items-box {
  width: 100%;
  height: 250px;
  transition: all 1s;
}
.projects .projects-container .projects-items-box .projects-items-box-details-main p {
  font-size: 0.6rem;
  font-weight: bold;
  background: #79c0ff;
  padding: 2px 3px;
  border-radius: 3px;
  letter-spacing: 0.3px;
  transition: all 0.2s;
}
.projects .projects-container .projects-items-box .projects-items-box-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.projects .projects-container .projects-items-box .projects-items-box-img {
  height: 100%;
  background: #ccc;
  background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 3px;
  padding: 0.75em;
  position: relative;
  transition: filter 0.2s ease-in-out;
}
.projects .projects-container .projects-items-box .projects-items-box-details-main,
.projects .projects-container .projects-items-box .projects-items-box-details-links {
  display: flex;
  align-items: center;
  gap: 5px;
}
.projects .projects-container .projects-items-box .projects-items-box-details-links {
  position: absolute;
  top: 5px;
  right: 5px;
}
.projects .projects-container .projects-items-box .projects-items-box-details-links a {
  font-size: 0.7rem;
  padding: 0.75em 1em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.projects .projects-container .projects-items-box h3 {
  font-size: 1.2rem;
  transition: all 0.2s;
}
.projects .projects-container .projects-filter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.projects .projects-container .projects-filter-buttons .projects-filter-btn {
  padding: 0.5em 0.75em;
  border-radius: 3.5px;
  background: #79c0ff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
.projects .projects-container .projects-filter-buttons .projects-filter-btn:hover {
  filter: brightness(90%);
}

#light-theme .projects {
  background: #fff;
  transition: all 0.2s ease;
}
#light-theme .projects .projects-container .projects-para {
  color: #677483;
}
#light-theme .projects .projects-container .projects-filter-buttons .projects-filter-btn {
  background: #677483;
  color: #ecf0f6;
}
#light-theme .projects .projects-container .projects-filter-buttons .projects-active {
  background: #ecf0f6;
  color: #677483;
}
#light-theme .projects .projects-container .projects-items-box .projects-items-box-img {
  background: white;
  background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
}
#light-theme .projects .projects-container .projects-items-box .projects-items-box-details-main p {
  color: #ecf0f6;
  background: #697384;
}
#light-theme .projects .projects-container .projects-items-box .projects-items-box-details-links .projects-items-box-details-links-main {
  background: #697384;
  color: #ecf0f6;
}
#light-theme .projects .projects-container .projects-items-box .projects-items-box-details-links .projects-items-box-details-links-reverse {
  background: #ecf0f6;
  color: #697384;
}

.projects-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  transition: all 0.5s;
}

#dark-theme .projects {
  background: #12171d;
}
#dark-theme .projects .projects-container h2 {
  color: #79c0ff;
}
#dark-theme .projects .projects-container .projects-filter-buttons .projects-active {
  background: #fff;
  color: #161b22;
}
#dark-theme .projects .projects-container .projects-items-box .projects-items-box-img {
  background: white;
  background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
}
#dark-theme .projects .projects-container .projects-items-box .projects-items-box-details-main p {
  color: #161b22;
  background: #79c0ff;
}
#dark-theme .projects .projects-container .projects-items-box h3 {
  color: #12171d;
}
#dark-theme .projects .projects-container .projects-items-box .projects-items-box-details-links-main {
  background: #161b22;
  color: #79c0ff;
}
#dark-theme .projects .projects-container .projects-items-box .projects-items-box-details-links-reverse {
  background: #79c0ff;
  color: #161b22;
}

@media (min-width: 762px) {
  .projects-items {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects-items-box {
    flex-basis: calc(49.4% - 5px);
  }
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background: #fff;
}

a {
  text-decoration: none;
  color: #79c0ff;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  line-height: 1.4;
}

.locked {
  overflow: hidden;
}

button {
  cursor: pointer;
}

nav button {
  background: #79c0ff;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  transition: all 0.2s;
  position: fixed;
  top: 15px;
  right: 15px;
  display: grid;
  place-content: center;
  z-index: 998;
}

#light-theme nav button {
  background: #677483;
  color: white;
}

nav ion-icon {
  font-size: 2.5rem;
}

ul button {
  background: #ff534d;
}

#light-theme ul button {
  background: #ff534d;
}

ul li {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

nav button:hover {
  background: #ccc;
  color: #252525;
}

@media (min-width: 768px) {
  nav {
    display: none;
  }
}
/* Hamburger Nav Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8f8f8;
  position: fixed;
  top: 0%;
  right: -100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #12171d;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  height: 100vh;
  z-index: 999;
}
.menu a {
  width: 100%;
  padding: 2em 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.active {
  opacity: 1;
  right: 0;
  pointer-events: all;
} /* Class gets added to hamburger nav when event clicked changes boolean */
/* Light-Theme */
#light-theme .skills,
#light-theme .certificates {
  background: #fff;
  transition: background 0.2s ease;
}

#light-theme .contact,
#light-theme .menu {
  background: #f8f8fc;
}

#light-theme .menu a {
  color: #697384;
  border-bottom: none;
}

#light-theme .skills h2,
#light-theme .certificates h2 {
  color: #333333;
  transition: all 0.2s;
}

#light-theme .skills p,
#light-theme .certificates p,
#light-theme .projects p {
  color: #697384;
  transition: all 0.2s;
}

#light-theme .skills-item-box h3,
#light-theme .skills-item-box ion-icon {
  color: #444444;
  transition: all 0.2s;
}

@keyframes slideIn {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  25% {
    transform: translateX(0%);
    opacity: 1;
  }
  75% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .skills {
    width: 100%;
  }
}
.skills h2 {
  color: #79c0ff;
  font-size: 2rem;
  text-align: center;
}

.about-text {
  color: #f8f8f8;
  line-height: 1.6;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Skills */
.skills {
  background: #161b22;
  transition: all 0.2s;
  overflow: hidden;
}
.skills h2 {
  color: #79c0ff;
}
.skills .skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  min-height: 100vh;
  transform: translateX(50%);
  transition: opacity 2s ease, transform 2s ease;
  opacity: 0;
}
.skills .skills-container .skills-para {
  color: #ecf0f6;
  letter-spacing: 0.7px;
  text-align: center;
}
.skills .skills-container .skills-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.skills .skills-container .skills-items .skills-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skills-items .skills-item-box h3 {
  color: #fff;
}
.skills .skills-container .skills-items .skills-item-box ion-icon {
  font-size: 6rem;
  color: #fff;
}
.skills .skills-container.visible {
  transform: translateX(0%);
  opacity: 1;
}

@media (min-width: 1300px) {
  .test {
    display: flex;
    justify-content: space-between;
  }
  .test-img {
    width: 30%;
    min-height: 100vh;
    /* background: linear-gradient(to right, #161b22 0%, #161b22 25%, rgba(121, 192, 255, 0.5) 100%); */
    /* background: #161b22; */
  }
  .about,
  .skills {
    width: 70%;
  }
}
/* Certificates */
.certificates {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4em 2em;
  transition: background 0.2s;
}
.certificates h2 {
  text-align: center;
  font-size: 2rem;
}
.certificates p {
  text-align: center;
}
.certificates .certificates-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: opacity 2s ease, transform 1.5s ease;
  transform: translateY(100px);
  opacity: 0;
}
.certificates .certificates-container.visible {
  transform: translateY(0);
  opacity: 1;
}
.certificates .certificates-container .certificate-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.certificates .certificates-container .certificate-items .certificate-item-box {
  margin: 0 auto 10px auto;
  transition: all 0.5s;
  border-radius: 5px;
  flex-basis: 60;
  box-shadow: inset 0 0 0 2px rgba(128, 128, 128, 0.3);
  position: relative;
}
.certificates .certificates-container .certificate-items .certificate-item-box ion-icon {
  position: absolute;
  bottom: 7.5px;
  right: 7.5px;
  opacity: 0.5;
  font-size: 3rem;
  cursor: pointer;
}
.certificates .certificates-container .certificates-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.certificates .certificates-container .certificates-icons ion-icon {
  font-size: 2rem;
  cursor: pointer;
}

#dark-theme .certificates {
  background: #161b22;
}
#dark-theme .certificates h2 {
  color: #79c0ff;
}
#dark-theme .certificates .certificates-icons {
  color: #f8f8f8;
}

#light-theme .certificates {
  background: #ffffff;
}
#light-theme .certificates h2 {
  color: #3b82f6;
}
#light-theme .certificates .certificates-icons {
  color: #677483;
}
#light-theme .certificates .certificate-item-box {
  background: #ffffff;
}

/* Projects */
.contact {
  background: #79c0ff;
}

.contact-container {
  min-height: 20vh;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  place-content: center;
}
.contact-container ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.contact-container ul li ion-icon {
  font-size: 3rem;
  color: #12171d;
}

#light-theme .contact-container ul li ion-icon {
  color: #697384;
}

@media (min-width: 762px) {
  .contact-container {
    min-height: 10vh;
  }
  .contact-container ul li ion-icon {
    font-size: 2rem;
    transition: filter 0.2s;
  }
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.modal .modal-box {
  min-height: 225px;
  max-width: 300px;
  width: 100%;
  background: #161b22;
  border-radius: 5px;
  position: relative;
  padding: 1em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.modal .modal-box .modal-box ion-icon[name=close-sharp] {
  position: absolute;
  bottom: 15px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  font-size: 2rem;
  padding: 0.2em;
  color: #161b22;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
  transition: filter 0.2s ease;
}
.modal .modal-box h2 {
  color: #f8f8f8;
  font-size: 1.25rem;
}
.modal .modal-box p {
  color: #f8f8f8;
  font-size: 0.9rem;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
}

@media (min-width: 762px) {
  .modal-box {
    min-height: 190px;
  }
  .modal-box ion-icon[name=close-sharp] {
    font-size: 1rem;
  }
}
.modal-box ion-icon[name=close-sharp]:hover {
  filter: brightness(150%);
}

.modal-box-text-details {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3px;
}

/* Large Certificate Img */
.large-certificate-img {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 99999999;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  opacity: 0;
  gap: 10px;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  transform: translateX(-50%);
}
.large-certificate-img ion-icon {
  cursor: pointer;
}
.large-certificate-img .large-certificate-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 60vh;
}
.large-certificate-img .large-certificate-img-box img {
  border-radius: 10px;
  max-width: 100%;
  height: 100%;
}
.large-certificate-img .arrows {
  position: relative;
  height: 100%;
  width: 100%;
}
.large-certificate-img .arrows ion-icon {
  color: #ccc;
  opacity: 0.5;
  font-size: 3rem;
  transition: 0.2s;
  cursor: pointer;
}
.large-certificate-img .arrows ion-icon:hover {
  opacity: 1;
}

.large-certificate-img.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

ion-icon[name=arrow-forward-circle-outline] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

ion-icon[name=arrow-back-circle-outline] {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

ion-icon[name=close-circle-outline] {
  opacity: 0.3;
  transition: 0.2s;
  font-size: 3rem;
}

ion-icon[name=close-circle-outline]:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .large-certificate-img-box {
    height: 700px;
    max-width: 1000px;
  }
  ion-icon[name=close-circle-outline] {
    font-size: 2rem;
  }
}
#light-theme .right-box {
  background: linear-gradient(to right, #fff 0%, rgba(121, 192, 255, 0.5) 100%), url("https://images.unsplash.com/photo-1661956602926-db6b25f75947?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=698&q=80");
  background-size: cover;
  background-position: 1%;
  filter: grayscale(1);
  transition: all 0.2s ease;
}

#light-theme .left-box {
  background: linear-gradient(to left, #fff 0%, rgba(121, 192, 255, 0.5) 100%), url("https://images.unsplash.com/photo-1497215641119-bbe6d71ebaae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-position: 1%;
  filter: grayscale(1);
  transition: all 0.2s ease;
}/*# sourceMappingURL=main.css.map */