.large-nav {
  display: none;
}

@media (min-width: 768px) {
  .large-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.2s ease;
  }
  .large-nav.hidden {
    transform: translateY(-100%);
  }
  .large-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 15px;
    padding: 1em 0;
  }
  .large-nav ul li {
    cursor: pointer;
    font-size: 0.9em;
    border: none;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    padding-bottom: 0.3em;
    padding-top: 5px;
    border-bottom: 5px solid transparent;
  }
  .large-nav ul li:hover {
    border-bottom: 5px solid currentColor;
  }
  #dark-theme .large-nav {
    background-color: #161b22;
  }
  #dark-theme .large-nav ul li {
    color: #f8f8f8;
  }
  #dark-theme .large-nav ul li:hover {
    color: #79c0ff;
  }
  #light-theme .large-nav {
    background-color: #fff;
  }
  #light-theme .large-nav ul li {
    color: #181818;
    transition: border-bottom 0.2s ease, color 0.2s;
  }
  #light-theme .large-nav ul li:hover {
    border-bottom: 5px solid #999999;
    color: #999999;
  }
}
/* Hero Section */
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  transition: background 0.2s;
}
.hero h1 {
  margin: 0;
  font-size: 3.5rem;
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 5rem;
  }
}
.hero .hero-subheading {
  margin-top: 1em;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: slideIn 5s ease-in-out infinite;
  text-align: center;
}
.hero .scroll-down-box {
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.hero .scroll-down-box ion-icon {
  font-size: 2rem;
  animation: moveUpDown 1s infinite;
  color: #181818;
}

#dark-theme .hero {
  background-color: #161b22;
}
#dark-theme .hero h1 {
  color: #f8f8f8;
}
#dark-theme .hero h1 .hero-heading-ben {
  border-bottom: 5px solid #79c0ff;
}
#dark-theme .hero p {
  color: #79c0ff;
}
#dark-theme .hero .scroll-down-box p {
  color: #f8f8f8;
}
#dark-theme .hero .scroll-down-box ion-icon {
  color: #f8f8f8;
}

#light-theme .hero {
  background-color: #fff;
}
#light-theme .hero h1 {
  color: #181818;
}
#light-theme .hero h1 .hero-heading-ben {
  border-bottom: 5px solid #999999;
}
#light-theme .hero .hero-subheading {
  color: #999999;
}
#light-theme .hero p {
  color: #181818;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* About */
.about {
  min-height: 100vh;
  padding: 5em 2em;
  display: grid;
  place-content: center;
  transition: background 0.2s ease;
  overflow: hidden;
  /* .about-items */
  /* .about-items.visible */
}
.about .about-items {
  opacity: 0;
  transition: opacity 2s ease, transform 1.5s ease;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.about .about-items h2 {
  color: #181818;
  font-size: 2rem;
  text-align: center;
}
.about .about-items .about-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: grayscale(1);
  margin: auto;
}
.about .about-items .about-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.about .about-items .about-paragraph p {
  line-height: 1.6;
}
.about .about-items.visible {
  transform: translateY(0);
  opacity: 1;
}
@media (min-width: 768px) {
  .about .about {
    width: 100%;
  }
  .about .about-paragraph {
    max-width: 600px;
    width: 90%;
    margin: auto;
  }
}

/* .about */
#light-theme {
  transition: all 0.2s;
}
#light-theme .about {
  background: #fafafa;
}
#light-theme .about h2 {
  color: #181818;
  transition: all 0.2s;
}
#light-theme .about p {
  color: #181818;
  transition: all 0.2s;
}

/* #light-theme */
#dark-theme {
  transition: all 0.2s;
}
#dark-theme .about {
  background: #161b22;
}
#dark-theme .about h2 {
  color: #79c0ff;
  transition: all 0.2s;
}
#dark-theme .about p {
  color: #fff;
  transition: all 0.2s;
}

/* #dark-theme */
/* Projects */
.projects {
  padding: 4em 2em;
  transition: background 0.2s ease;
}
.projects .projects-container {
  min-height: 50vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  transform: translateY(100px);
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
}
.projects .projects-container.visible {
  transform: translateY(0);
  opacity: 1;
}
.projects .projects-container .projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.projects .projects-container h2 {
  text-align: center;
  font-size: 2rem;
}
.projects .projects-container p {
  font-size: 1rem;
}
.projects .projects-container .projects-para {
  text-align: center;
}
.projects .projects-container .projects-filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}
.projects .projects-container .projects-filter-buttons .projects-filter-btn {
  transition: all 0.2s;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.projects .projects-container .projects-items {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 0;
  width: 100%;
}
.projects .projects-container .projects-items .projects-items-box {
  height: 250px;
  max-width: 768px;
  transition: all 0.2s;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
@media (min-width: 768px) {
  .projects .projects-container .projects-items .projects-items-box {
    border: none;
  }
}
.projects .projects-container .projects-items .projects-items-box .projects-items-box-img {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0.75em;
  position: relative;
  height: 50%;
  border-radius: 8px;
}
.projects .projects-container .projects-items .projects-items-box .projects-items-box-img .projects-items-box-details-links {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  display: flex;
  align-items: center;
  gap: 5px;
}
.projects .projects-container .projects-items .projects-items-box .projects-items-box-img .projects-items-box-details-links a {
  padding: 0.5em;
  font-size: 0.8rem;
  transition: all 0.2s;
  border-radius: 5px;
}
.projects .projects-container .projects-items .projects-items-box .projects-items-box-details-main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  transition: all 0.2s ease;
  width: 100%;
  height: 50%;
}
.projects .projects-container .projects-items .projects-items-box .projects-items-box-details-main h3 {
  margin-top: 0.5em;
}
.projects .projects-container .projects-items .projects-items-box .projects-items-box-details-main p {
  font-size: 0.85rem;
}
.projects .projects-container .projects-items .projects-items-box .projects-items-box-details-main .projects-items-box-details-main-categories {
  display: flex;
  align-items: center;
  gap: 5px;
}
.projects .projects-container .projects-items .projects-items-box .projects-items-box-details-main .projects-items-box-details-main-categories p {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 3px;
  border-radius: 3px;
  letter-spacing: 0.2px;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .projects .projects-container .projects-items {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
  }
  .projects .projects-container .projects-items .projects-items-box {
    max-width: 45%;
  }
  .projects .projects-container .projects-items .projects-items-box .projects-items-box-details-main {
    height: 40%;
  }
  .projects .projects-container .projects-items .projects-items-box .projects-items-box-img {
    height: 60%;
  }
}
#dark-theme .projects {
  background: #161b22;
}
#dark-theme .projects .projects-container h2 {
  color: #79c0ff;
}
#dark-theme .projects .projects-container .projects-para {
  color: #fff;
}
#dark-theme .projects .projects-container .projects-filter-buttons .projects-filter-btn {
  background: #79c0ff;
  color: #161b22;
}
#dark-theme .projects .projects-container .projects-filter-buttons .projects-active {
  background: #fff;
  color: #161b22;
}
#dark-theme .projects .projects-container .projects-items-box h3 {
  color: #fff;
}
#dark-theme .projects .projects-container .projects-items-box p {
  color: #fff;
}
#dark-theme .projects .projects-container .projects-items-box .projects-items-box-details-main .projects-items-box-details-main-categories p {
  color: #161b22;
  background: #79c0ff;
}
#dark-theme .projects .projects-container .projects-items-box .projects-items-box-details-links-main {
  background: #161b22;
  color: #79c0ff;
}
#dark-theme .projects .projects-container .projects-items-box .projects-items-box-details-links-reverse {
  background: #79c0ff;
  color: #161b22;
}

#light-theme .projects {
  background-color: #fff;
}
#light-theme .projects .projects-container h2 {
  color: #181818;
}
#light-theme .projects .projects-container p {
  color: #999999;
}
#light-theme .projects .projects-container .projects-filter-buttons .projects-filter-btn {
  background: #f1f1f1;
  color: #999999;
}
#light-theme .projects .projects-container .projects-filter-buttons .projects-active {
  background: #999999;
  color: #f1f1f1;
}
#light-theme .projects .projects-container .projects-items-box h3 {
  color: #181818;
}
#light-theme .projects .projects-container .projects-items-box .projects-items-box-img {
  background-size: cover;
}
#light-theme .projects .projects-container .projects-items-box .projects-items-box-details-main .projects-items-box-details-main-categories p {
  color: #999999;
  background: #f1f1f1;
}
#light-theme .projects .projects-container .projects-items-box .projects-items-box-details-links-main {
  background: #181818;
  color: #f1f1f1;
}
#light-theme .projects .projects-container .projects-items-box .projects-items-box-details-links-reverse {
  background: #f1f1f1;
  color: #181818;
}

/* Skills */
.skills {
  transition: all 0.2s;
  overflow: hidden;
  padding: 2em;
}
.skills .skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.skills .skills-container h2 {
  font-size: 1.5rem;
}
.skills .skills-container .skills-para {
  text-align: center;
  transition: all 0.2s;
}
.skills .skills-container .skills-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 700px;
  transition: all 0.2s;
}
.skills .skills-container .skills-items .skills-item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  gap: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
}
.skills .skills-container .skills-items .skills-item-box h3 {
  letter-spacing: 0.2px;
}
.skills .skills-container .skills-items .skills-item-box ion-icon {
  font-size: 1.5rem;
  transition: all 0.2s;
}
.skills .skills-container.visible {
  transform: translateX(0%);
  opacity: 1;
}

#dark-theme .skills h2 {
  color: #79c0ff;
}
#dark-theme .skills .skills-container .skills-para {
  color: #ecf0f6;
}
#dark-theme .skills .skills-container .skills-items .skills-item-box {
  background: rgba(88, 88, 88, 0.1);
}
#dark-theme .skills .skills-container .skills-items .skills-item-box h3 {
  color: #fff;
}
#dark-theme .skills .skills-container .skills-items .skills-item-box ion-icon {
  color: #fff;
}

#light-theme .skills h2 {
  color: #12171d;
}
#light-theme .skills .skills-container .skills-para {
  color: #999999;
}
#light-theme .skills .skills-container .skills-items .skills-item-box {
  background: #f1f1f1;
}
#light-theme .skills .skills-container .skills-items .skills-item-box h3 {
  color: #999999;
}
#light-theme .skills .skills-container .skills-items .skills-item-box ion-icon {
  color: #999999;
}

.certificates {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4em 2em;
  transition: background 0.2s;
}
.certificates .certificates-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.certificates h2 {
  text-align: center;
  font-size: 2rem;
}
.certificates p {
  text-align: center;
}
.certificates .certificates-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: opacity 2s ease, transform 1.5s ease;
  transform: translateY(100px);
  opacity: 0;
}
.certificates .certificates-container.visible {
  transform: translateY(0);
  opacity: 1;
}
.certificates .certificates-container .certificate-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.certificates .certificates-container .certificate-items .certificate-item-box {
  margin: 0 auto 25px auto;
  transition: all 0.5s;
  flex-basis: 60;
  border: 5px solid rgba(100, 100, 100, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.certificates .certificates-container .certificate-items .certificate-item-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.1);
  transition: transform 0.5s;
}
.certificates .certificates-container .certificate-items .certificate-item-box:hover::before {
  transform: scale(1.3);
}
.certificates .certificates-container .certificate-items .certificate-item-box ion-icon {
  position: absolute;
  bottom: 7.5px;
  right: 7.5px;
  opacity: 0.4;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .certificates .certificates-container .certificate-items .certificate-item-box ion-icon {
    font-size: 2rem;
  }
}
.certificates .certificates-container .certificates-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
  padding: 0.5em 0.75em;
  background: #f1f1f1;
  border-radius: 5px;
}
.certificates .certificates-container .certificates-icons ion-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

#dark-theme .certificates {
  background: #161b22;
}
#dark-theme .certificates h2 {
  color: #79c0ff;
}
#dark-theme .certificates p {
  color: #D6E4FF;
}
#dark-theme .certificates .certificates-icons {
  color: #B3D1FF;
}

#light-theme .certificates {
  background: #f8f8f8;
}
#light-theme .certificates h2 {
  color: #181818;
}
#light-theme .certificates p {
  color: #999999;
}
#light-theme .certificates .certificates-icons {
  color: #999999;
}
#light-theme .certificates .certificate-item-box {
  background: #f8f8f8;
}

.contact {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .contact-container {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  transition: all 0.2s;
}
.contact .contact-container ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  transition: all 0.2s;
}
.contact .contact-container ul li ion-icon {
  font-size: 2rem;
}

@media (min-width: 762px) {
  .contact {
    min-height: 10vh;
  }
  .contact .contact-container ul li ion-icon {
    font-size: 2rem;
    transition: filter 0.2s;
  }
}
#light-theme .contact {
  background: #181818;
}
#light-theme .contact .contact-container ul li ion-icon {
  color: #999999;
}

#dark-theme .contact {
  background: #79c0ff;
}
#dark-theme .contact .contact-container ul li ion-icon {
  color: #12171d;
}

@keyframes slideIn {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.large-certificate-img {
  height: 100vh;
  width: 100%;
  background: #f8f8f8;
  position: fixed;
  top: 0;
  z-index: 99999999;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  gap: 10px;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  transform: translateX(-50%);
  margin: 0 auto;
}
.large-certificate-img.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  transform: translateX(-50%);
}
.large-certificate-img ion-icon[name=close-sharp] {
  transition: 0.2s;
  font-size: 2.5rem;
  position: absolute;
  border-radius: 5px;
  color: #000;
  padding: 0.2em;
  top: 10px;
  right: 10px;
  z-index: 999999999;
}
@media (min-width: 768px) {
  .large-certificate-img ion-icon[name=close-sharp] {
    font-size: 2rem;
    padding: 0.15em;
  }
}
.large-certificate-img ion-icon[name=close-sharp]:hover {
  background: #ccc;
}
.large-certificate-img ion-icon {
  cursor: pointer;
}
.large-certificate-img .large-certificate-img-box {
  max-height: 100vh;
}
@media (min-width: 768px) {
  .large-certificate-img .large-certificate-img-box {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1100px) {
  .large-certificate-img .large-certificate-img-box {
    min-height: 100vh;
  }
}
.large-certificate-img .large-certificate-img-box img {
  width: 100%;
  height: 100%;
}
.large-certificate-img .arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.large-certificate-img .arrows ion-icon {
  color: white;
  background: black;
  opacity: 0.8;
  font-size: 1rem;
  padding: 0.75em;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  margin: 0 1em;
}
.large-certificate-img .arrows ion-icon:hover {
  opacity: 1;
}
.large-certificate-img .arrows ion-icon ion-icon[name=arrow-forward-circle-outline] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.large-certificate-img .arrows ion-icon ion-icon[name=arrow-back-circle-outline] {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

#dark-theme .large-certificate-img {
  background: #161b22;
}
#dark-theme .large-certificate-img ion-icon[name=close-sharp] {
  color: #fff;
}
#dark-theme .large-certificate-img ion-icon[name=close-sharp]:hover {
  background: #ccc;
}

#light-theme .large-certificate-img {
  background: #f8f8f8;
}
#light-theme ion-icon[name=close-sharp] {
  color: #000;
}
#light-theme ion-icon[name=close-sharp]:hover {
  background: #ccc;
}

/* Modal */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999999;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.modal.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
  overflow-y: scroll; /* Enables scrolling within the overlay */
}
.modal .modal-box {
  min-height: 250px;
  max-width: 300px;
  width: 100%;
  position: relative;
  padding: 2em 1em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transform: translateY(100px);
  transition: all 1s;
}
@media (min-width: 768px) {
  .modal .modal-box {
    min-height: 230px;
  }
}
.modal .modal-box .modal-box-text-details {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}
.modal .modal-box ion-icon[name=close-sharp] {
  position: absolute;
  bottom: 15px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  font-size: 2rem;
  padding: 0.2em;
  color: #161b22;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
}
@media (min-width: 768px) {
  .modal .modal-box ion-icon[name=close-sharp] {
    font-size: 1rem;
  }
}
.modal .modal-box h2 {
  color: #f8f8f8;
  font-size: 1.25rem;
}
.modal .modal-box p {
  color: #f8f8f8;
  font-size: 0.9rem;
}
.modal .modal-box a:hover {
  filter: brightness(110%);
}

.modal-box.slide-up {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}

#light-theme .modal-box {
  background: #181818;
}
#light-theme .modal-box ion-icon[name=close-sharp] {
  color: #ccc;
}
#light-theme .modal-box ion-icon[name=close-sharp]:hover {
  color: #181818;
}
#light-theme .modal-box a {
  color: #999999;
}

#dark-theme .modal-box {
  background: #161b22;
}
#dark-theme .modal-box ion-icon[name=close-sharp] {
  color: #ccc;
}
#dark-theme .modal-box a {
  color: #79c0ff;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background: #fff;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  line-height: 1.4;
}

.locked {
  overflow: hidden;
}

button {
  cursor: pointer;
}

nav button {
  background: #79c0ff;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  transition: all 0.2s;
  position: fixed;
  top: 10px;
  right: 10px;
  display: grid;
  place-content: center;
  z-index: 998;
}

#light-theme nav button {
  background: #999999;
  color: #f1f1f1;
}

nav ion-icon {
  font-size: 2.5rem;
}

ul button {
  background: #ff534d;
  position: absolute;
  top: 10px;
  right: 10px;
}

#light-theme ul button {
  background: #ff534d;
}

ul li {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

nav button:hover {
  background: #ccc;
  color: #252525;
}

@media (min-width: 768px) {
  nav {
    display: none;
  }
}
/* Hamburger Nav Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8f8f8;
  position: fixed;
  top: 0%;
  right: -100%;
  width: 70vw;
  margin: 0;
  padding: 0;
  background: #12171d;
  list-style: none;
  opacity: 1;
  pointer-events: none;
  transition: right 0.5s ease, background 0.2s;
  height: 100vh;
  z-index: 99999999999;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.menu a {
  width: 100%;
  padding: 1.5em 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.active {
  right: 0;
  pointer-events: all;
} /* Class gets added to hamburger nav when event clicked changes boolean */
/* Light-Theme */
#light-theme .menu {
  background: #f8f8fc;
}

#light-theme .menu a {
  color: #181818;
  border-bottom: none;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 1300px) {
  .test {
    display: flex;
    justify-content: space-between;
  }
  .test-img {
    width: 30%;
    min-height: 100vh;
    /* background: linear-gradient(to right, #161b22 0%, #161b22 25%, rgba(121, 192, 255, 0.5) 100%); */
    /* background: #161b22; */
  }
  .about {
    width: 70%;
  }
}
#light-theme .right-box {
  background: linear-gradient(to right, #f8f8f8 0%, rgba(121, 192, 255, 0.5) 100%), url("https://images.unsplash.com/photo-1661956602926-db6b25f75947?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=698&q=80");
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  transition: all 0.2s ease;
}

#dark-theme .right-box {
  background-color: #161b22;
  background: linear-gradient(to right, #161b22 0%, rgba(22, 27, 34, 0.8) 100%), url("../images/about-dark-img.png");
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-15px);
  }
  10% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.arrow-down {
  position: fixed;
  z-index: 9999999;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  margin: auto;
  padding: 0.5em;
  cursor: pointer;
  display: grid;
  place-content: center;
  opacity: 0.2;
  transition: all 0.2s;
  border-radius: 5px;
}
.arrow-down:hover {
  opacity: 1;
  animation: bounce 6s ease;
}

#light-theme .arrow-down {
  background: #999999;
  color: #f1f1f1;
}

#dark-theme .arrow-down {
  background: #79c0ff;
  color: white;
}

.line {
  background: #999999;
  height: 5px;
  width: 35px;
  border-radius: 5px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */