@import './LargeNav.scss';
@import './Hero.scss';
@import './About.scss';
@import './Projects.scss';
@import './Skills.scss';
@import './Certificates.scss';
@import './Contact.scss';
@import './animations.scss';
@import './LargeCertificate.scss';
@import './Modal.scss';



* {
    box-sizing: border-box; 
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    background: #fff;
 }
 
 a {
     text-decoration: none;
    //  color: #79c0ff;
     font-weight: bold;
 }
 
 h1,
 h2,
 h3,
 h4,
 p {
     margin: 0;
 }
 
 p {
     line-height: 1.4;
 }
 
 .locked {
     overflow: hidden;
 }
 
 
 button {
     cursor: pointer;
 }
 
nav button {
    background: #79c0ff;
    padding: 0.5em;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    transition: all 0.2s;
    position: fixed;
    top: 15px;
    right: 15px;
    display: grid;
    place-content: center;
    z-index: 998;
}

#light-theme nav button {
    background: #677483;
    color: white;
}



nav ion-icon {
    font-size: 2.5rem;
}

ul button {
    background: #ff534d;
}

#light-theme ul button {
    background: #ff534d;
}

ul li {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}


nav button:hover {
    background: #ccc;
    color: #252525;
}

@media (min-width: 768px) {
    nav {
        display: none;
    }
}



/* Hamburger Nav Menu */



.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8f8f8;
    position: fixed;
    top: 0%;
    right: -100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #12171d;  
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    height: 100vh;
    z-index: 999;

    a {
        width: 100%;
        padding: 1.5em 0;
        text-align: center;
        cursor: pointer;
        color: #fff;
    }
}

.active {
    opacity: 1;
    right: 0;
    pointer-events: all;
} /* Class gets added to hamburger nav when event clicked changes boolean */

/* Light-Theme */


#light-theme .menu {
    background: #f8f8fc;
}

#light-theme .menu a {
    color: #697384;
    border-bottom: none;
}

.visible {
    opacity: 1;
    transform: translateX(0)
} 

@media (min-width: 1300px) {
    
     .test {
        display: flex;
        justify-content: space-between;
    }
    
    .test-img {
        width: 30%;
        min-height: 100vh;
        /* background: linear-gradient(to right, #161b22 0%, #161b22 25%, rgba(121, 192, 255, 0.5) 100%); */
        /* background: #161b22; */
    }
    
    .about,
    .skills {
        width: 70%;
    }

    
}

/* Modal */

// .modal {
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     z-index: 9999999;
//     height: 100vh;
//     width: 100%;
//     background: rgba(0, 0, 0, 0.5);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 0 2em;
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 0.2s, visibility 0.2s;
    
//     .modal-box {
//         min-height: 225px;
//         max-width: 300px;
//         width: 100%;    
//         background: #161b22;
//         border-radius: 5px;
//         position: relative;
//         padding: 1em;
//         box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);  

//         .modal-box ion-icon[name="close-sharp"] {
//             position: absolute;
//             bottom: 15px;
//             right: 0px;
//             left: 0px;
//             margin: 0 auto;
//             font-size: 2rem;
//             padding: 0.2em;
//             color: #161b22;
//             border-radius: 50%;
//             background: grey;
//             cursor: pointer;
//             transition: filter 0.2s ease;
            
//         }

//        h2 {
//             color: #f8f8f8;
//             font-size: 1.25rem;
//         }

//        p {
//             color: #f8f8f8;
//             font-size: 0.9rem;
//         }
//     }
// }

// .modal.visible {
//     opacity: 1;
//     visibility: visible;
//     transition: opacity 0.2s, visibility 0.2s;
// }

// @media (min-width: 762px) {
    
//     .modal-box {
//         min-height: 190px;
//     }
    
//     .modal-box ion-icon[name="close-sharp"] {
//         font-size: 1rem;
//     }
// }

// .modal-box ion-icon[name="close-sharp"]:hover {
//     filter: brightness(150%)
// }

// .modal-box-text-details {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     align-items: flex-start;
//     justify-content: flex-start;
//     flex-direction: column;
//     gap: 3px;
// }


#light-theme .right-box {
    background: linear-gradient(to right, #f8f8f8 0%, rgba(121, 192, 255, 0.5) 100%), url("https://images.unsplash.com/photo-1661956602926-db6b25f75947?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=698&q=80");
    background-size: cover;
    background-position: 1%;
    filter: grayscale(1);
    transition: all 0.2s ease;
}


#light-theme .left-box {
    background: linear-gradient(to left, #f8f8f8 0%, rgba(121, 192, 255, 0.5) 100%), url("https://images.unsplash.com/photo-1497215641119-bbe6d71ebaae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: 1%;
    filter: grayscale(1);
    transition: all 0.2s ease;
}









