/* Projects */
// .projects {
//     padding: 4em 2em;
//     transition: all 0.2s ease;


.projects {
    padding: 4em 2em;
    transition: background 0.2s ease;

    .projects-container {
        min-height: 50vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 15px;
        transform: translateY(100px);
        opacity: 0;
        transition: opacity 1.5s ease, transform 1.5s ease;

        &.visible {
            transform: translateY(0);
            opacity: 1;
        }

        h2 {
            text-align: center;
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }

        .projects-para {
            text-align: center;
        }

        .projects-filter-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            gap: 5px;

            .projects-filter-btn {
                transition: all 0.2s;
                padding: 0.75em 1.25em;
                cursor: pointer;
                font-weight: bold;
            }
        }

        .projects-items {
            max-width: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            padding: 0;
            width: 100%;

            .projects-items-box {
                height: 250px;
                max-width: 768px;
                transition: all .2s;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .projects-items-box-img {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    padding: 0.75em;
                    // border-radius: 10px;
                    position: relative; 
                    height: 50%;
                    
                    .projects-items-box-details-links {
                        position: absolute;
                        top: 0.75em;
                        right: 0.75em;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        a {
                            padding: 0.5em;
                            // border-radius: 3px;
                            font-size: 0.8rem;
                            transition: all 0.2s;
                        }
                    }
                    
                }

                .projects-items-box-details-main {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 5px;
                    transition: all 0.2s ease;
                    width: 100%;
                    height: 50%;
                    padding: 0 0.5em;

                    p {
                        font-size: 0.85rem;
                    }

                    .projects-items-box-details-main-categories {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        p {
                            font-size: 0.7rem;
                            font-weight: bold;
                            padding: 2px 4px;
                            // border-radius: 3px;
                            letter-spacing: 0.2px;
                            transition: all 0.2s;
                        }
                    } 

                    
                }
            }
        }
    }
} // projects


@media (min-width: 768px) {

    .projects {
        .projects-container {
            .projects-items {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 2em;
                .projects-items-box {
                    max-width: 45%;
                    .projects-items-box-details-main {
                        height: 40%;
                    }
                    .projects-items-box-img {
                        height: 60%;
                    }
                }
            }
        }
    }
}


//.projects-items-box-img {
    //           height: 100%;
    //           background: #ccc;
    //           background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
    //           border-radius: 5px;
    //           display: flex;
    //           flex-direction: column;
    //           align-items: flex-start;
    //           justify-content: flex-end;
    //           gap: 3px;
    //           padding: 0.75em;
    //           position: relative;
    //           transition: filter 0.2s ease-in-out;
    //         }
  

//     .projects-container {
//       min-height: 100vh;
//       margin: auto;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       flex-direction: column;
//       gap: 15px;
//       transition: opacity 2s ease, transform 1.5s ease;
//       transform: translateY(100px);
//       opacity: 0;
  

  
//       .projects-items-box {
//         min-width: 100%;
//         height: 250px;
//         transition: all 0.2s;

//         .projects-items-box-details-main {
        
//             p {
//                 font-size: 0.6rem;
//                 font-weight: bold;
//                 background: #79c0ff;
//                 padding: 2px 3px;
//                 border-radius: 3px;
//                 letter-spacing: 0.3px;
//                 transition: all 0.2s;
//             }

//         }
  
//         .projects-items-box-details {
//           display: flex;
//           align-items: center;
//           justify-content: space-between;
//           gap: 5px;
//         }
  
//         .projects-items-box-img {
//           height: 100%;
//           background: #ccc;
//           background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
//           border-radius: 5px;
//           display: flex;
//           flex-direction: column;
//           align-items: flex-start;
//           justify-content: flex-end;
//           gap: 3px;
//           padding: 0.75em;
//           position: relative;
//           transition: filter 0.2s ease-in-out;
//         }
  
//         .projects-items-box-details-main,
//         .projects-items-box-details-links {
//           display: flex;
//           align-items: center;
//           gap: 5px;
//         }
  
//         .projects-items-box-details-links 
//         }
  
//         h3 {
//           font-size: 1.2rem;
//           transition: all 0.2s;
//         }
//       }
  
//       .
  
//         .projects-filter-btn {
//           padding: 0.5em 0.75em;
//           border-radius: 3.5px;
//           background: #79c0ff;
//           font-weight: bold;
//           cursor: pointer;
//           transition: all 0.2s;
  
//           &:hover {
//             filter: brightness(90%);
//           }
//         }
//       }
//     }
//   }

  
  
//   #light-theme {

//     .projects {
//         background: #fff;
//         transition: all 0.2s ease;

//         .projects-container {

//             .projects-para {
//                 color: #677483;
//             }           

//             .projects-filter-buttons {

//                 .projects-filter-btn {
//                     background: #677483;
//                     color: #ecf0f6;
//                   }

//                 .projects-active {
//                     background: #ecf0f6;
//                     color: #677483;
//                 }    

//             }

//             .projects-items-box {

//                 .projects-items-box-img {
//                     background: white;
//                     background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
//                 } // projects-items-box-img

//                 .projects-items-box-details-main {
      
//                     p {
//                       color: #ecf0f6;
//                       background: #697384;
//                     }
            
//                 }

//                 .projects-items-box-details-links {

//                     .projects-items-box-details-links-main {
//                         background: #697384;
//                         color: #ecf0f6;
//                     }
    
//                       .projects-items-box-details-links-reverse {
//                         background: #ecf0f6;
//                         color: #697384;
//                     }
//                 } // projects-items-box-details-links
//             }  // projects-items-box  
//         } // projects-container        
//     } // projects
// } // light-theme





  #dark-theme {

    .projects {
        background: #12171d;

        .projects-container {

            h2 {
                color: #79c0ff;
            }

            .projects-para {
                color: #fff;
            }

            .projects-filter-buttons {

                .projects-filter-btn {
                    background: #79c0ff;
                    color: #161b22;
                }

                .projects-active {
                    background: #fff;
                    color: #161b22;
                }
            }

            .projects-items-box {

                h3 {
                    color: #12171d;
                }

                .projects-items-box-img {
                    background: white;
                    background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
                  } // projects-items-box-img
    
                  .projects-items-box-details-main {

                    .projects-items-box-details-main-categories {
                        
                        p {
                          color: #161b22;
                          background: #79c0ff;
                        }
                    }
      
            
                }
            
                .projects-items-box-details-links-main {
                  background: #161b22;
                  color: #79c0ff;
                }
            
                .projects-items-box-details-links-reverse {
                  background: #79c0ff;
                  color: #161b22;
                }
    
            } // projects-items-box
        } // projects-container
    } // projects
} // #dark-theme


  #light-theme {

    .projects {
        background: #fff;

        .projects-container {

            h2 {
                color: #181818;
            }

            p {
                color: #999999;
            }

            .projects-filter-buttons {
                
                .projects-filter-btn {
                    background: #181818;
                    color: #ecf0f6;
                }

                .projects-active {
                    background: #8A7350;
                    color: #fff;
                }
            }

            .projects-items-box {

                h3 {
                    color: #181818;
                }

                .projects-items-box-img {
                    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0.2) 100%), url('../images/travel-journal-img.png');
                    background-size: cover;
                  } // projects-items-box-img
    
                  .projects-items-box-details-main {

                    .projects-items-box-details-main-categories {

                        p {
                            color: #677483;
                            background: #ecf0f6;
                          }

                    }
      
                    
            
                }
            
                .projects-items-box-details-links-main {
                  background: #181818;
                  color: #fff;
                }
            
                .projects-items-box-details-links-reverse {
                  background: #fff;
                  color: #181818;
                }
    
            } // projects-items-box
        } // projects-container
    } // projects
} // #dark-theme


