/* Projects */
.projects {
    padding: 4em 2em;
    transition: all 0.2s ease;
  
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  
    .projects-container {
      min-height: 100vh;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      transition: opacity 2s ease, transform 1.5s ease;
      transform: translateY(100px);
      opacity: 0;
  
      &.visible {
        transform: translateY(0);
        opacity: 1;
      }
  
      .projects-items-box {
        width: 100%;
        height: 250px;
        transition: all 1s;

        .projects-items-box-details-main {
        
            p {
                font-size: 0.6rem;
                font-weight: bold;
                background: #79c0ff;
                padding: 2px 3px;
                border-radius: 3px;
                letter-spacing: 0.3px;
                transition: all 0.2s;
            }

        }
  
        .projects-items-box-details {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
        }
  
        .projects-items-box-img {
          height: 100%;
          background: #ccc;
          background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          gap: 3px;
          padding: 0.75em;
          position: relative;
          transition: filter 0.2s ease-in-out;
        }
  
        .projects-items-box-details-main,
        .projects-items-box-details-links {
          display: flex;
          align-items: center;
          gap: 5px;
        }
  
        .projects-items-box-details-links {
          position: absolute;
          top: 5px;
          right: 5px;
  
          a {
            font-size: 0.7rem;
            padding: 0.75em 1em;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
          }
        }
  
        h3 {
          font-size: 1.2rem;
          transition: all 0.2s;
        }
      }
  
      .projects-filter-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
  
        .projects-filter-btn {
          padding: 0.5em 0.75em;
          border-radius: 3.5px;
          background: #79c0ff;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.2s;
  
          &:hover {
            filter: brightness(90%);
          }
        }
      }
    }
  }
  
  .projects-active {
    background: #ccc;
    color: #161b22;
    transition: all 0.2s ease;
  }

  
  
  #light-theme {

    .projects {
        background: #fff;
        transition: all 0.2s ease;

        

        .projects-container {

            .projects-para {
                color: #677483;
            }           

            .projects-filter-buttons {

                .projects-filter-btn {
                    background: #677483;
                    color: #ecf0f6;
                  }

                .projects-active {
                    background: #ecf0f6;
                    color: #677483;
                }    

            }

            .projects-items-box {

                .projects-items-box-img {
                    background: white;
                    background-image: linear-gradient(to bottom, transparent 0%, #f8f8fc 50%, #f8f8fc 100%);
                  } // projects-items-box-img

                  .projects-items-box-details-main {
      
                    p {
                      color: #ecf0f6;
                      background: #697384;
                    }
            
                  }

                  .projects-items-box-details-links {

                    .projects-items-box-details-links-main {
                        background: #697384;
                        color: #ecf0f6;
                    }
    
                      .projects-items-box-details-links-reverse {
                        background: #ecf0f6;
                        color: #697384;
                    }
                } // projects-items-box-details-links

            }

            
        }

        
        
          
  }
  
}

.projects-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    transition: all .5s;
}
  


 


  #dark-theme {

    .projects {
        background: #12171d;

        h2 {
            color: #79c0ff;
        }

        .projects-items-box {
            
            h3 {
              color: #12171d;
            }
        
            .projects-items-box-details-links-main {
              background: #f8f8f8;
              color: #161b22;
            }
        
            .projects-items-box-details-links-reverse {
              background: #79c0ff;
              color: #161b22;
            }

        } // projects-items-box
    } // projects
} // #dark-theme


 

@media (min-width: 762px) {
    .projects-items {
      flex-direction: row;
      flex-wrap: wrap;
   
    }

    .projects-items-box {
      flex-basis: calc(49.4% - 5px);
    }
  }