/* Skills */


.skills {
    // padding: 2em;
    transition: all 0.2s;
    overflow: hidden;
    padding: 2em;

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .skills-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        min-height: 100vh;
        transform: translateX(50%);
        transition: opacity 2s ease, transform 2s ease;
        opacity: 0;
        

        .skills-para {
            text-align: center;
            transition: all 0.2s;
        }

        .skills-items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            max-width: 400px;
            transition: all 0.2s;

            .skills-item-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 0.2s;

                // h3 {
                //     // light mode color: #677483;

                // }

                ion-icon {
                    font-size: 6rem;
                } // ion-icon

            } // skills-item-box 

        } // skills-items

    } // skills-container

    .skills-container.visible {
        transform: translateX(0%);
        opacity: 1;
    } // skills-container.visible
}

@media (min-width: 768px) { 
    
    .skills {
        width: 100%;
    }
     
}



#dark-theme {

    .skills {
        background: #161b22;
    
        h2 {
            color: #79c0ff;
        }
    
        .skills-container {
            
            .skills-para {
                color: #ecf0f6;
            }
    
            .skills-items {
    
                .skills-item-box {

    
                    h3 {
                        // light mode color: #677483;
                        color: #fff;
                    }
    
                    ion-icon {
                        // light mode color:#677483;
                        color: #fff;
                    } // ion-icon
    
                } // skills-item-box 
    
            } // skills-items
    
        } // skills-container
    }

}

#light-theme {

    .skills {
        background: #EEEEEE;
    
        h2 {
            color: #12171d;
        }
    
        .skills-container {
            
            .skills-para {
                color: #999999;
            }
    
            .skills-items {
    
                .skills-item-box {

                    h3 {
                        // light mode color: #677483;
                        color: #12171d;

                    }
    
                    ion-icon {
                        // light mode color:#677483;
                        color: #12171d;

                    } // ion-icon
    
                } // skills-item-box 
    
            } // skills-items
    
        } // skills-container
    }

}

