/* Skills */


.skills {
    transition: all 0.2s;
    overflow: hidden;
    padding: 2em;

   


    .skills-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

        h2 {
            font-size: 1.5rem;
        }


        .skills-para {
            text-align: center;
        }

        .skills-items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            max-width: 700px;

            .skills-item-box {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                border-radius: 5px;
                padding: 0.5em 1em;
                
                h3 {
                    letter-spacing: 0.2px;

                }

                ion-icon {
                    font-size: 1.5rem;
                    transition: all 0.2s;


                } // ion-icon

            } // skills-item-box 

        } // skills-items

    } // skills-container

    .skills-container.visible {
        transform: translateX(0%);
        opacity: 1;
    } // skills-container.visible
}

// @media (min-width: 768px) { 
    
//     .skills {
//         width: 100%;
//     }
     
// }



#dark-theme {

    .skills {
        // background: #161b22;
    
        h2 {
            color: #79c0ff;
        }
    
        .skills-container {
            
            .skills-para {
                color: #ecf0f6;
            }
    
            .skills-items {
    
                .skills-item-box {

                    background: rgba(88,88,88,0.1);

    
                    h3 {
                        // light mode color: #677483;
                        color: #fff;
                    }
    
                    ion-icon {
                        // light mode color:#677483;
                        color: #fff;
                    } // ion-icon
    
                } // skills-item-box 
    
            } // skills-items
    
        } // skills-container
    }

}

#light-theme {

    .skills {
        // background: #EEEEEE;
    
        h2 {
            color: #12171d;
        }
    
        .skills-container {
            
            .skills-para {
                color: #999999;
            }
    
            .skills-items {
    
                .skills-item-box {

                    background: #f1f1f1;

                    h3 {
                        // light mode color: #677483;
                        color: #999999;

                    }
    
                    ion-icon {
                        // light mode color:#677483;
                        color: #999999;

                    } // ion-icon
    
                } // skills-item-box 
    
            } // skills-items
    
        } // skills-container
    }

}

